.navi{
    color:white;   
}


.gohome{
    text-decoration:none !important;
    color: white;
}

.bg-c{
    background-color: rgb(31, 30, 30);
}

.main{
    position: absolute;    
}


.footercss{
    width: auto;
    height: 100px;
    padding-top:40px ;
    position: relative;
    bottom: 0;
}
.gohome:hover{
    color:gainsboro; 
}