.navi{
    color:white
}

.main{
    position: absolute;    
}


.footercss{
    width: auto;
    height: 100px;
    padding-top:40px ;
    position: relative;
    bottom: 0;
}
.gohome:hover{
    color:grey !important; 
}